

#무시할 폴더
G:\test\final_project\03_After_SA_ver6\03_Projectfile\01_div_jproj
G:\test\final_project\03_After_SA_ver6\02_Result\02_LHS_div_Result_OUTsample
G:\test\final_project\03_After_SA_ver6\01_Generated_Case\03_divided_INsample